@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default, dark --prefersDark;
}

/* Animación personalizada para el fade-in de los formularios */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
